<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <title>Phones</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.min.js" defer></script>

  <script src="./build.js" defer></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css">
  <link rel="stylesheet" href="app.css">
</head>

<body>

  <div class="view-container">
    <div class="view-frame" id="app-container">

      <div class="container-fluid">
        <div class="row">

          <!--Sidebar content-->
          <div class="col-md-2">
            <div data-component="filter">
              Search: <input data-element="field" type="text">
            </div>

            <div data-component="sorter">
              Sort by:
              <select>
                <option value="name">Alphabetical</option>
                <option value="age">Newest</option>
              </select>
            </div>
          </div>

          <!--Body content-->
          <div class="col-md-10">

            <div data-component="phoneCatalogue"></div>

            <div class="js-hidden" data-component="phoneViewer"></div>

          </div>

        </div>
      </div>

    </div>
  </div>

  <script type="text/template" id="viewer-template">
    <button>Back</button>

    <div class="phone-images">
      <img class="phone active" src="<%= phone.imageUrl %>">
    </div>

    <h1><%- phone.name %></h1>
    <h2><%- phone.id %></h2>

    <p><%= phone.snippet %></p>
  </script>

  <script type="text/template" id="catalogue-template">
    <ul class="phones">

      <% phones.forEach(function(phone) {%>

        <li class="thumbnail phone-listing" data-element="phone" data-phone-id="<%= phone.id %>">
          <a href="#/phones/<%= phone.id %>" class="thumb" data-element="phoneLink">
            <img src="<%= phone.imageUrl %>" alt="<%- phone.name %>">
          </a>
          <a href="#/phones/<%= phone.id %>" data-element="phoneLink"><%- phone.name %></a>
          <p><%- phone.snippet %></p>
        </li>

      <% }); %>

    </ul>
  </script>

</body>

</html>